<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/catalog.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/catalog.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i>&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/orders">
            <i class="fas fa-tags"></i>&nbsp;Orders&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/catalog">
            <i class="fas fa-coffee"></i>&nbsp;Product Catalog&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </div>
      </div>
    </nav>

    <!-- user tabs: vrs, upload, details -->
    <div id="contentDiv">
      <div class="tabDiv">
        <!--<button class="tablinks active" onclick="openTab(event, 'vrtab')">VRs</button>
        <button class="tablinks loggedInOnly" onclick="openTab(event, 'uptab')">Upload</button>
        <button class="tablinks loggedInOnly" onclick="openTab(event, 'setab')">Settings</button>-->
      </div>

      <!--<div id="vrtab" class="tabcontent">
        <h2>My Virtual Realities</h2>
        <table id="vrtable"></table>
      </div>

      <div id="uptab" class="tabcontent">
        <h2>Upload a New Virtual Reality</h2><br/>
        <form id="fileForm">
          <label for="descriptionInput">VR Description:</label>
          <br/><textarea name="descriptionInput" id="descriptionInput" rows="10" cols="80" form="fileForm"/></textarea>
          <input type="hidden" name="usernameInput" id="usernameInput" /><br/><br/>
          <label for="fileInput">Choose an image file to upload (supported formats are .jpg and .png)</label>
          <br/><input type="file" name="fileInput" id="fileInput" onchange="enableSubmit();"/><br/>
          <input id="fileSubmit" type="submit" value="Upload File" disabled />
        </form>
        <span id="uploadSuccessSpan">File Upload Successful!</span>
      </div>

      <div id="setab" class="tabcontent">
        <h2>My Settings</h2>
        <br/>
        <p class="pSettings">Name: <span id="spnName" class="sSettings"></span></p>
        <p class="pSettings">Username: <span id="spnUsername" class="sSettings"></span></p>
        <p class="pSettings">Email address: <span id="spnEmail" class="sSettings"></span></p>
      </div>-->
    </div>
  </body>
</html>



































