<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i>&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </div>
      </div>
    </nav>

    <!-- login/register fields -->
    <div id="contentDiv">
      <form id="loginForm">
        <input id="logUsr" type="text" name="inputUsr" placeholder="Username"><br/>
        <input id="logPwd" type="password" name="inputPwd" placeholder="Password">
        <br/>
        <button type="button" onclick="login();">Login</button><br/>
        <span>New to the site?&nbsp;</span>
        <a href="javascript:void(0);" onclick="showForm(true);">Register</a>
      </form>
      <form id="registerForm">
        <input id="regUsr" type="text" name="inputUsrReg" placeholder="Username"><br/>
        <input id="regPwd" type="text" name="inputPwdReg" placeholder="Password">
        <br/>
        <button type="button" onclick="register();">Register</button><br/>
        <span>I have an account already! &nbsp;</span>
        <a href="javascript:void(0);" onclick="showForm(false);">Login</a>
      </form>
    </div>
  </body>
</html>



































